<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuri"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.yuri.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yuri.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.yuri.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yuri.TextPlay"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.yuri.Email"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.yuri.OpenedClass"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.yuri.Data"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.yuri.Camera"
            android:label="Camera huehue"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.yuri.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.yuri.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yuri.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.yuri.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yuri.Prefs"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.yuri.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>